
header {
	height: 125px;
	width: 100%;
	background: linear-gradient( 120deg, #17363f, #417382 );

}

main {
	width: 70%;
	float: left;
}

.body_section {
	color: #417382;
	padding-left: 25px;	
}

.body_section h3 {
	border-bottom: solid #417382 1px;
}

.body_section p {
	padding-right: 50px;
	padding-left: 10px;
}

.body_section section {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 25px;
}

.body_section ul {
	list-style: none;
}

.sidebar {
	width: 25%;
	background: linear-gradient( 45deg, #17363f, #417382 );
	float: right;
}

.sidebar_section {
	color: #e6eff2;
	padding-left: 15px;
}

.sidebar_section h3 {
	font-style: italic;
	border-bottom: solid #e5eff2 1px;
	margin-bottom: 0;
	/*margin-bottom: 3px;*/
}

.sidebar_section h5 {
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 5px;
}

.sidebar_section p {
	font-size: 11px;
	padding-left: 3px;
	margin-top: 1px;
}

#header_name {
	color: #e6eff2;
	font-size: 3em;
	padding-left: 115px;
	padding-top: 25px;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	border-bottom: double #e6eff2 3px;
}


#header_tag {
	color: #e6eff2;
	font-size: 1.25em;
	padding-top: 5px;
	padding-left: 140px;
	padding-bottom: 25px;
	clear: left;
}

