body, html {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

/*HEADER/NAV BAR*/

header {
	z-index: 1;
	min-height: 50px;
	background: #252a33;
	position: fixed;
	top: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #cecece;
}

nav {
	padding: 1% 0 0 0;
	text-align: right;
}

nav a {
	border-right: solid white 1px;
	padding: 0 1% 0 .5%;
}

nav a:last-of-type {
	border-right: none;
}

/*LANDING SPLASH*/

.splash {
	background: url("../static/images/code.png") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
	padding: 20% 0 0 0;
	text-align: center;
	font-size: 3em;
	color: #cecece;
	text-shadow: 1px 1px white;
}

/* DIVIDER SECTION */
.divider {
	background: url("../static/images/code.png") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* SKILLS SECTION */
.skills {
	background: #cecece;
}

/* PROJECTS SECTION*/
.projects {
	background: white;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-image {
	width: 30%;
}

.project-text {
	margin: 0 0 0 3%;
}

.project {
	display: flex;
	width: 35%;	
	margin: 5% 0 0 0;
}

.project a {
	width: 100%;
}

.project img {
	display: block;
	margin: 15% auto 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #252a33;
  border-bottom: 1px solid #252a33;
  box-shadow: 2px 2px #888888;
  /*border: solid #252a33 2px;*/
	padding: 3% 3% 3% 3%;
}


/* MUFFINS!!! */
.muffins {
	background: #252a33;
}