/* GENEREAL FOOLISHNESS */

body {
	margin: 0;
	color: #313133;
}

h1 {
	margin-top: 0;
	padding-top: 5vh;
	text-align: center;
	font-style: italic;
	/*font-weight: bold;*/
	font-size: 3em;
	/*font-family: arial;*/
}

h3 {
	text-align: center;
	font-style: italic;
}

.left-text {
	width: 30vw;
	padding-left: 10vw;
	padding-top: 10vh;
}

/* HEADER */

header {
	background: linear-gradient(#bfc0c1, white);
  /*background: -webkit-linear-gradient(#bfc0c1, white); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#bfc0c1, white); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#bfc0c1, white); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#bfc0c1, white);*/
	height: 30vh;
}

/* INTRO */

.intro {
	height: 55vh;
}

/* EFFECTS AND CURIOUSITIES */

.grey-underline {
	border-bottom: solid #313133 1px;
	width: 12vw;
	margin: auto;
}

.fade-to-grey {
	height: 15vh;
	background: linear-gradient(white, #bfc0c1);
}

.fade-to-white {
	height: 15vh;
	background: linear-gradient(#bfc0c1, white);
}

