@import url('https://fonts.googleapis.com/css?family=Bellefair|Josefin+Sans|Satisfy');

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Bellefair', serif;
}

h1 {
	margin: 0;
	padding: 20% 0 0 0;
	text-align: center;
	font-size: 8em;
	color: #252a33;
	text-shadow: 1px 1px white;
	font-family: 'Satisfy', cursive;
}

h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em;
}

p {
	font-size: 1.5em;
}

ul {
	display: inline-block;
	vertical-align: top;
}

li {
	list-style: none;
	font-size: 1.5em;
}

/*HEADER/NAV BAR*/

header {
	z-index: 1;
	min-height: 50px;
	background: #252a33;
	position: fixed;
	top: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}

a:hover {
	color: #cecece;
}

nav {
	padding: 1% 0 0 0;
	text-align: right;
}

nav a {
	border-right: solid white 1px;
	padding: 0 1% 0 .5%;
}

nav a:last-of-type {
	border-right: none;
}

/*LANDING SPLASH*/

.splash {
	background: url("../static/images/code.png") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}


/* DIVIDER SECTION */
.divider {
	background: url("../static/images/code.png") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* SKILLS SECTION */
.skills {
	background: #cecece;
	display: flex;
	justify-content: center;
}

.skill-box{
	border: solid #252a33 1px;
	border-radius: 15px;
	width: 25%;
	height: 40%;
	margin: 15% 5% 0 5%;
	background: white;
}

.skill-box > *{
	margin: 10% 0 0 10%;
}

/* PROJECTS SECTION*/
.projects{
	background: white;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.project-image {
	width: 30%;
}

.project-text {
	margin: 0 0 0 3%;
}

.project {
	display: flex;
	width: 22%;	
	margin: 10% 5% 0 5%;
}

.project a {
	width: 100%;
}

.project img {
	display: block;
	margin: 15% auto 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #252a33;
  border-bottom: 1px solid #252a33;
  box-shadow: 1px 1px #888888;
	padding: 3% 3% 3% 3%;
	transition: 0.25s ease;
}

.project img:active {
	height: 99px;
	width: 99px;
	box-shadow: inset 1px 1px #888888;
	border-top: 1px solid #252a33;
	border-left: 1px solid #252a33;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}


/* MUFFINS!!! */
.muffins {
	background: #252a33;
}

/* CONTACT SECTION*/
.contact {
	display: flex;
	justify-content: center;
}

.contact-button {
	border-radius: 100px;
	margin: auto;
	overflow: hidden;
	background: white;
	height: 100px;
	width: 100px;
	border: solid white 1px;
}

.contact-button a {
	font-size: 0em
}

.contact-button img {
	height: 100%; 
	width: 100%;
}